@import url('/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-body);
  }
}
